/* ROOT & SITE-WIDE*/
body {
  background: #34495e;
}

h2, h3, h4, h5 {
  color: #2c3e50 !important; 
  /* 303657 */
}

.no-pad {
  padding: 0 !important;
}

.no-marg {
  margin: 0 !important;
}

/* SIDEBAR & MENU */
.sidebar-wrapper {
  width: 222px;
  padding: 12px 12px 12px 0;
  position: fixed;
  float: right;
  top: 0;
  right: 0;
  z-index: 2;
}

.sidebar-button {
  float: right;
  position: fixed;
  top: 18px;
  right: 18px;
}

.sidebar-overlay {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/* MAIN CONTENT */
.main-grid {
  padding: 12px;
  float: left; /* this floats left, sidebar-menu floats right */
}

.main-slide {
  margin: auto;
  max-width: 1500px;
  background: #feffff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 12px !important;
  margin-bottom: 24px;
}

.dark-border-thin {
  border: 1px solid #34495e;
  border-radius: 3px;
}

.main-slide-heading {
  width: 100%;
  margin-bottom: 12px;
  text-align: center;
}

.main-slide-last {
  margin-bottom: 0 !important;
}

::-webkit-scrollbar {
  width: 0px !important; /* remove ugly scrollbar */
}

/* CONTENT ROW */
.img-right {
  padding-right: 0 !important;
}

.img-left {
  padding-left: 0 !important;
}

.content-description {
  padding-left: 12px !important;
  padding-right: 12px !important;
  height: 100%;
  width: 100%;
}

.content-heading {
  margin: 0;
}

.content-subheading {
  margin: 0.5em 0 0.5em 0;
  font-size: 1.25em;
  color: #465058;
}

/* PROJECTS */
.project-image {
  margin: 6px 0 6px 0;
}


/* ABOUT ME */
.about-me-description {
  padding: 12px;
}

/* INTRO */
.intro-image {
  width: 100%;
  margin-bottom: 24px;
}

/* CONTACT CELL */
.centered-contact {
  margin: auto;
  width: 60%;
}
